<!DOCTYPE html>
<html>
<head>
    <title>Evidencija fitnes centara</title>
    <link rel="stylesheet" href="~/Content/style_shared.css" type="text/css" />
</head>
<body>

    @RenderBody();

</body>
</html>
